@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #31363f;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background-color: #040d12;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 25px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: white;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #222831;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-data .nama {
  font-size: 24px;
  font-weight: 600;
}
.text-data .kerjaan {
  font-size: 22px;
  font-weight: 500;
}
.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 25px;
  width: 25px;
  border-radius: 25%;
  margin: 0 8px;
  background-color: #6b728e;
  text-decoration: none;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 5px 15px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover {
  background-color: #6b728e;
}
.profile-card .stats {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.stats .data {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-right: 2px solid white;
}
.data i {
  font-size: 20px;
  margin-right: 6px;
}
.data:last-child {
  border-right: none;
}
